@import "assets/scss/_variables";

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  min-height: calc(100vh - #{$header-height});
}

.page_container {
  width: 80%;
  margin-top: $header-height;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  min-height: $header-height;

  background-color: $primary-color;

  .logo {
    width: 60px;
    max-height: 60px;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .username {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-right: 20px;
    opacity: 0.8;
    cursor: default;
  }

  @media (max-width: 768px) {
    .username {
      display: none;
    }
  }

  ul {
    display: flex;
    list-style: none;

    li {
      display: inline-block;
      margin-left: 15px;
    }

    .logout_btn {
      display: inline-block;
      font-size: 1.2rem;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.6);
      padding: 10px 15px;
      text-transform: uppercase;
      letter-spacing: 2px;
      border: 1px solid rgba($primary-btn-color, 0);
      border-radius: 5px;
      cursor: pointer;
      // background-color: rgba(255, 255, 255, 0.2);
      transition: all 0.2s;

      &:hover {
        // background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid $primary-btn-color;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.loading_indicator {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
