@import "assets/scss/_variables";

.beer_detail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 40px;

  img {
    height: 400px;
    object-fit: scale-down;
    max-width: 100%;
  }

  .beer_detail_info {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 2rem;
    letter-spacing: 2px;

    padding-left: 100px;

    h3 {
      font-size: 2rem;
      font-weight: bold;
    }

    .beer_detail_desc {
      font-size: 1.2rem;
    }

    .beer_detail_tips {
      font-size: 0.8rem;
      opacity: 0.6;
    }

    .beer_detail_foods {
      h3 {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }

      p {
        font-size: 1rem;
      }
    }

    a {
      display: inline-block;
      width: 100px;
      margin: 0 auto;
      padding: 5px;
      font-size: 1rem;
      color: rgba($primary-btn-color, 0.8);
      text-decoration: none;
      border: 1px solid $primary-btn-color;
      border-radius: 5px;
      transition: all 0.6s;

      &:hover {
        color: $primary-btn-color;
      }
    }
  }
}
